/wireguard-test/wireguard/wgc/
/wgc-functions.py
/Buildplan
/wireguard-test/wireguard/
/bash/
/wireguard-test/wireguard/certs/
/wireguard-test/wireguard/client-configs/
/wireguard-test/wireguard/wgc/
/wireguard-test/
